.birkman-info-box {
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 12px 16px;
  margin: 20px;
  border-radius: var(--radius);
  border: 2px solid var(--primary-color);
  text-align: center;
  font-size: 16px;
}
